// Base
// -----------------------------------------------
// -----------------------------------------------

// Body, html
// -----------------------------------------------
html {
    box-sizing: border-box;
    font-size: $base-font-size;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body,
html {
    height: 100%;
}

// Typography
// -----------------------------------------------
body {
    font-family: $base-font-family;
    line-height: $base-line-height;
    color: $base-font-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $header-font-family;
    font-weight: $font-medium;
}

// Helpers
// -----------------------------------------------