// Variables
// -----------------------------------------------
// -----------------------------------------------

// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600|Open+Sans:400,600');

// Colors
$brand-primary: rgb(255, 204, 51);
$brand-secondary: rgb(255, 168, 20);
$brand-tertiary: rgb(246, 133, 13);
$gray-primary: rgb(33, 45, 62);
$gray-secondary: rgba($gray-primary, 0.88);
$white: rgb(255, 255, 255);
$link-color: darken($brand-primary, 10%);
$link-hover: darken($brand-primary, 15%);

// Typography
$base-font-family: 'Open Sans', sans-serif;
$header-font-family: 'Montserrat', sans-serif;
$base-font-color: $gray-secondary;
$header-font-color: $gray-primary;
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$base-font-size: 16px;
$base-line-height: 1.6;
// Sizes
$base-point-grid: 8px;
// Animation
$base-duration: 350ms;
$base-timing: ease;

// Breakpoint
$bp-small: 480px;
$bp-medium: 768px;
$bp-large: 992px;
$bp-xlarge: 1130px;