<header id="masthead">
    <div class="wrap container-fluid">
        <div class="row">
            <div class="col-md-12">
                <svg xmlns="http://www.w3.org/2000/svg" width="116" height="150" viewBox="0 0 116 150">
                    <g fill="none" fill-rule="evenodd">
                        <polygon fill="#FC3" points="52 28 0 108 52 136"/>
                        <polygon fill="#FFA814" points="52 28 52 136 104 108"/>
                        <polygon fill="#F6850D" points="44 0 44 150 116 112" opacity=".34"/>
                        <polygon fill="#F6850D" points="44 0 44 150 116 112" opacity=".34"/>
                    </g>
                </svg>
                <h1 class="masthead-title">{{ site.description }}</h1>
                <a class="masthead-button button" href="./docs/">Learn More</a>
                <div class="masthead-stars">
                    <a href="https://github.com/arrow-kt/arrow/stargazers">
                    <i class="fa fa-star"></i>
                    <span id="stars"></span>
                </a>
                </div>
            </div>
        </div>
    </div>
</header>