<main id="content">
    <section class="features">
        <div class="wrap container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="feature-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="87" height="87" viewBox="0 0 87 87">
                            <g fill="none" fill-rule="evenodd">
                            <polygon fill="#FC3" points="43 17 76 76 10 76"/>
                            <polygon class="point" fill="#FFA814" points="43 5 86 82 43 82" opacity=".5" transform="rotate(17 64.5 43.5)"/>
                            <path fill="#FFF" fill-rule="nonzero" d="M36.4230538,61.443589 L34.3017334,63.5649093 L27.0675175,56.3306934 L34.2674648,49.1307461 L36.3887852,51.2520664 L31.3101582,56.3306934 L36.4230538,61.443589 Z M45.7894375,50.8824375 L47.9107578,48.7611172 L55.1221262,55.9724855 L47.5904308,63.5041809 L45.4691105,61.3828605 L50.8794855,55.9724855 L45.7894375,50.8824375 Z M42.3444211,46.5326554 L45.2180789,47.3941024 L39.5916141,66.1631453 L36.7179563,65.3016984 L42.3444211,46.5326554 Z"/>
                            </g>
                        </svg>
                        <h2 class="feature-title">Compile</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non blandit quam vel scelerisque</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="feature-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="88" height="89" viewBox="0 0 88 89">
                            <g fill="none" fill-rule="evenodd">
                                <polygon fill="#FC3" points="33 18 66 77 0 77"/>
                                <polygon fill="#FFA814" points="33 6 76 83 33 83" opacity=".5" transform="rotate(-20 54.5 44.5)"/>
                                <path fill="#FFF" fill-rule="nonzero" d="M40.6804466,49.3545189 L43.1553204,51.8293926 L30.491473,64.49324 L22.8973099,56.8990768 L25.725737,54.0706497 L30.491473,58.8363857 L39.9733399,49.3545189 C40.168602,49.1592568 40.4851845,49.1592568 40.6804466,49.3545189 Z"/>
                              </g>
                        </svg>
                        <h2 class="feature-title">Verification</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non blandit quam vel scelerisque</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="feature-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="88" height="89" viewBox="0 0 88 89">
                            <g fill="none" fill-rule="evenodd">
                                <polygon fill="#FC3" points="43 18 76 77 10 77"/>
                                <polygon fill="#FFA814" points="43 6 86 83 43 83" opacity=".5" transform="rotate(33 64.5 44.5)"/>
                                <path fill="#FFF" d="M33,49 L53,49 L53,53 L33,53 L33,49 Z M46,50 L46,52 L51,52 L51,50 L46,50 Z M33,55 L53,55 L53,59 L33,59 L33,55 Z M38,56 L38,58 L51,58 L51,56 L38,56 Z M33,61 L53,61 L53,65 L33,65 L33,61 Z M43,62 L43,64 L51,64 L51,62 L43,62 Z"/>
                            </g>
                        </svg>
                        <h2 class="feature-title">Evaluation</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non blandit quam vel scelerisque. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>