<main id="content">
    <section class="features">
        <div class="container">
            <div href="/docs/patterns/glossary/" class="feature-item">
                <img class="feature-img" src="img/pattern_icon.svg" alt="">
                <h2 class="feature-title">Compile</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non blandit quam vel scelerisque</p>
            </div>
            <div href="/docs/typeclasses/intro/" class="feature-item">
                <img class="feature-img" src="img/typeclasses_icon.svg" alt="">
                <h2 class="feature-title">Verification</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non blandit quam vel scelerisque</p>
            </div>
            <div href="/docs/datatypes/intro/" class="feature-item">
                <img class="feature-img" src="img/datatypes_icon.svg" alt="">
                <h2 class="feature-title">Evaluation</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non blandit quam vel scelerisque. </p>
            </div>
        </div>
    </section>
</main>